.alteracoes{
    /* display: flex; */
}
.alteracoes img{
    border-radius: 50%;
    padding: 10%;
    width: 65px;
    margin: 20px;
    cursor: pointer;
}

.botaoEditar img{
    background-color: #232035;
}

.botaoDeletar img{
    background-color: red;
}

@media (max-width: 767px){
    .alteracoes{
        display: flex;
        margin-top: 2%;
    }
}
