header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.adicionarSkill img{
    background-color: #232035;
    cursor: pointer;
    width: 58px;
    transition: transform 0.1s linear;
}

.adicionarSkill img:hover{
    transform: scale(1.11);
}

.header {
    background-color: #232035;
    padding: 1% 5%;
    font-size: 2em;
    /* text-align: center; */
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.botaoSair button{
    background-color: #232035;
    border-width: 0;
    color: white;
    font-weight: bold;

}

.botaoSair button:hover{
color: #ffffffa4;

}

.home a:-webkit-any-link {
    color: white;
    background-color: #232035;
    text-decoration: none;
    padding: 5%;
}

.home a:-webkit-any-link::selection {
    background-color: black;
    color: white;
}

.home a:-webkit-any-link:hover {
    color: #ffffffa4;
}

.home a:-webkit-any-link:focus {
    color: #ffffffa4;
}

.home a:-webkit-any-link:focus-visible {
    outline: 4px solid red;
}
