.modal-content{
    margin-top: 10%;
    background-color: #585988;
}

.containerModal{
    background-color: #5859880e;
}

.close{
    text-align: right;
    border-width: 0;
    /* margin-right: 10px; */
    background-color: #585988;
    color: white;
}

.informacoesAlteradas{
    color: #eee;
    margin-top: 10px;
}

.modalFooter{
    border-width: 0!important;
    justify-content: space-evenly!important;
    background-color: #585988!important;
}

.modal-footer{
    border-width: 0!important;
    justify-content: space-evenly!important;
    background-color: #585988!important;
}

/* .containerBotoesModal{
    
} */

.botoesModal{
    padding: 5px;
    border-radius: 3px;
}

.botaoAtualizar{
    background-color: green;
    font-weight: bold;
}

.botaoCancelar{
    background-color: #ff0000c7;
    font-weight: bold;
}

.fade.modal.show{
    background-color: transparent;
}

.modal-header{
    border-width: 0;
}

.adicionar{
    background-color: green;
    font-weight: bold;
}

.deletar{
    background-color: #ff0000c7;
    font-weight: bold;
}