.container-pai {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 0%;
    margin-bottom: -15%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
    grid-gap: 0px;
    padding: 120px;
}

.rows {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: -7%;
    border-top: 3px solid black;

}

.columns {
    color: white;
}

.columns::selection {
    background-color: #000000f2;
    color: white;
}

.dark-mode .columns::selection {
    background-color: white;
    color: #000000f2;
}

.containers {
    text-align: center;
    justify-content: center;
    justify-items: center;
    border: 3px solid black;
    max-width: 59%!important;
    min-width: 35%!important;
    height: 100%;
    margin: 4%;
    margin-bottom: 0%;
    transition: transform 0.2s linear;
    font-weight: 500;
    animation: cardsUsers 1s;
}

.containers:hover {
    box-shadow: 0 0 0.80em #000000f2;
    transform: rotate(0.5deg);
}

.img {
    width: 100%;
    height: 100%;
    background-color: white;
}

.zoom {
    overflow: hidden;
    background-color: white;

}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transform-origin: top;
    cursor: zoom-in;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #585988;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffffb3;
    border-radius: 20px;
}

@keyframes cardsUsers {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.075);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}
