html {
    scroll-behavior: smooth;
}

#topo {
    transition: transform 0.15s linear;
    background-color: #120907;
    color: white;
    position: fixed;
    right: 1%;
    bottom: 12%;
    animation: direcionando 0.5s ease-in-out alternate infinite;
    padding: 1%;
}

#topo:hover {
    box-shadow: 0 0 0.45em black;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#topo:focus-visible {
    outline: 4px solid #831d1c;
}

@keyframes direcionando {
    to {
        transform: translateY(15px);
    }
}